@import "fonts.css";
/*index.html*/
.title {
    font-family: 'Cormorant', sans-serif;
    font-weight: 600;
  }
.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:medium;
}
.promo__content{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;  
}
.promo{
  display: flex;
  gap: 15px;
}
.promo__image1{
  position: relative;
  left: 100px;
  top: 20px;
}
.promo__wrap{
  width: 800px;
  z-index: 3;
}
.loyal__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 1000px;
  top: 250px;
  width: 566px;
  
}
.loyal__image{
  position: relative;
  left: 360px;
  top: -200px;
  align-items: center;
}
.loyal{
  background-color: #F2F0EE;
}
.action{
  padding: 50px 350px;
}
.action__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
}
.action__background{
  background-image: url(../images/image31.jpg);
  background-size: contain;
  background-position: right top;
  height: 642px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__description1{
  margin: 0;
}
.action__image{
  background-image: url(../images/image31.jpg);
  background-size: contain;
  background-position: right top;
}
.action__content1{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 340px;
  width: 635px;
  padding: 95px;
}
.AboutUs__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 1000px;
  top: 0px;
  width: 566px;
}
.AboutUs__image{
  position: relative;
  left: 360px;
  top: -630px;
  align-items: center;
}
.categories__title{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 360px;
  top: -600px;
}
.categories__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 462px;
  top: -500px;
  width: 429px;
}
.categories__content1{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 1029px;
  top: -1400px;
  width: 429px;
}
.partner__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 1000px;
  top: -1200px;
  width: 566px;
}
.partner__image{
  position: relative;
  left: 360px;
  top: -1975px;
  align-items: center;
  margin-top: auto;
}
.new__title{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 360px;
  top: -1850px;
}
.new__content{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 462px;
  top: -1750px;
  width: 429px;
}
.new__content1{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style-type: none; 
  left: 1029px;
  top: -2555px;
  width: 429px;
}
.section new{
  height: 1000px;
}
.mail__title{
  position: relative;
  top: -2500px;
  left: 579px;
  margin-bottom: -2400px;
}


.mail__content{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 340px;
  width: 635px;
  padding: 95px;
  margin-bottom: -1350px;
}

.button{
  transition: background-color 0.5s color 0.5s;
}
.button:hover{
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 3px;
}
.button:active{
  background-color: black;
  color: white;
}


/*index.html*/